
__pycache__/
*.pyc
*.pyd
*.pyo
*.las
*.laz
.idea/
.vscode/
*.swp
*.swo
*.ipynb_checkpoints/
*.log
*.tmp
*.bak
*.sqlite3
*.db
*.Rproj.user/
*.Rhistory
*.Rdata
*.Ruserdata
*.Rprofile
*.Renviron
*.Rcheck/
*-package/
*.tar.gz
*.zip
*.Rbuildignore
*.log
*.html
*.tex
_book/
_site/
